---
import { ViewTransitions } from "astro:transitions";

import type { MarkdownHeading } from "astro";

import Header from "@components/Common/Headers/Header.astro";
import SidebarNavigation from "@components/Documentation/Navigation/SidebarNavigation/SidebarNavigation.astro";
import WhatsOnThisPage from "@components/Documentation/Navigation/WhatsOnThisPage/WhatsOnThisPage";

interface Props {
  title: string;
  headings: MarkdownHeading[];
}

const { title, headings } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-full dark:bg-teal-800">
    <Header />
    <main class="mx-auto grid h-full max-w-8xl grid-cols-docs-sm lg:grid-cols-docs-md">
      <SidebarNavigation />
      <article class="px-14 py-12">
        <div class="lg:prose-md prose max-w-none dark:prose-invert">
          <slot />
        </div>
      </article>
      <WhatsOnThisPage headings={headings} client:only="preact" />
    </main>
    <style is:global>
      @font-face {
        font-family: "Geist";
        src:
          url("/fonts/Geist/Geist-Thin.woff2") format("woff2"),
          url("/fonts/Geist/Geist-Thin.woff") format("woff");
        font-weight: 100;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Geist";
        src:
          url("/fonts/Geist/Geist-Regular.woff2") format("woff2"),
          url("/fonts/Geist/Geist-Regular.woff") format("woff");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Geist";
        src:
          url("/fonts/Geist/Geist-Bold.woff2") format("woff2"),
          url("/fonts/Geist/Geist-Bold.woff") format("woff");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
    </style>

    <script is:inline>
      if (localStorage.getItem("docsTheme") === "dark" || (!("docsTheme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </body>
</html>
