---
import DocumentationLayout from "@layouts/DocumentationLayout.astro";
---

<DocumentationLayout title="Welcome to jelly.ui">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit rerum illum perspiciatis neque deserunt voluptatem? Atque sit, porro deserunt adipisci error quis consectetur
    reprehenderit maxime, omnis autem deleniti ipsum commodi!
  </p>
  <p>
    Qui quis vitae exercitationem ipsam optio beatae magni. Consequuntur natus cupiditate pariatur cumque? Molestiae animi hic, eos quisquam sapiente labore ut, blanditiis cumque id modi
    saepe maiores alias quis praesentium.
  </p>
  <p>
    Voluptates perferendis nisi exercitationem, ipsam praesentium repellendus error quod odio cum quam adipisci neque placeat obcaecati autem, quasi laboriosam sit fuga ducimus. Eos autem
    est repudiandae cupiditate enim perspiciatis officia?
  </p>
  <p>
    Consequuntur nulla obcaecati officiis veniam enim aliquam saepe dignissimos et itaque porro ullam cumque dolorum, dolor incidunt modi fugit corrupti distinctio? Maiores facere ut
    consequatur aliquam, natus provident magnam numquam.
  </p>
</DocumentationLayout>

<style></style>
