---
import type { CollectionEntry } from "astro:content";
import { stripFolderFromSlug } from "~utils/stripFolderFromSlug";

import PreviousAndNext from "@components/Documentation/Footers/DocumentationFooter/PreviousAndNext.astro";
interface Props {
  previousDoc: CollectionEntry<"docs"> | null;
  nextDoc: CollectionEntry<"docs"> | null;
}

const { previousDoc, nextDoc } = Astro.props;
---

<footer>
  <nav class="flex justify-between gap-12 border-t-2 border-black py-8">
    {previousDoc && <PreviousAndNext text="Previous" title={previousDoc.data.title} url={stripFolderFromSlug(previousDoc.slug, 1)} intent="previous" />}
    {nextDoc && <PreviousAndNext text="Next" title={nextDoc.data.title} url={stripFolderFromSlug(nextDoc.slug, 1)} intent="next" />}
  </nav>
</footer>
