---
interface Props {}

const {} = Astro.props;
---

<header class="bg-violet-400">
  <div class="max-w-8xl mx-auto flex h-14 items-center justify-between px-8 xl:px-0">
    <h1 class="text-2xl font-bold">jelly.ui</h1>
  </div>
</header>
